body {
  margin: 0;
  padding: 0;
  background-image: url("../static/imgs/background.png");
  height: 100vh;
}

.login {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.login .jumbotron {
  margin: 0;
}

#logo {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
}



#logo h3 {
  display: inline;
  margin-left: 5px;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9c9c9c;
  background-color: #eaeaea;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}
