{% extends 'base.html' %}
{%import "bootstrap/wtf.html" as wtf%}
{% block content %}

<div class="container">  
    <div class="row mt-5 mb-3">  
      <div class="col-md-12">  
        <div class="float-left">  
          <h1 class="mb-0">{{listing.title}}</h1>  
        </div>  
 
        <div class="float-right text-right">  
          <h2 id="exchange-rate">{{ "${:,.2f}".format(listing.price|float) }}</h1>  
        </div>  
      </div>  
    </div>  
 
    <!-- Destination --> 
    <div class="row">  
      <div class="col-md-12">  
        <div class="card my-3">  
          <div class="card-body">  
            <div class="media">  
              <img class="align-self-start mr-3" src="{{listing.image}}" alt="Listing Picture" style="max-width: 250px;">  
              <div class="media-body">  
                <p>{{listing.description}}</p>  
                <a href="#" class="btn btn-danger">Bid</a>  
              </div>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>
    </div>  

{% endblock %}

