<html>
  <head>
    <title>Palmtree</title>
    <link rel="stylesheet" href="../static/normalize.css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="../static/main.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-between">
      <ul class="navbar-nav">
        <a id="logo" href="/">
            <img 
            src="../static/imgs/logo.png"
            width="40"
            height="40"
          />
          
            <h3>PALMTREE</h3>
          
        </a>
        
      </ul>
      {% if current_user.is_authenticated %}
      <ul class="col-md-6 mx-auto text-center">
          <input class="form-control" type="text" placeholder="What're you searching for?" aria-label="Search">
      </ul>
      <ul class="col-sm-2 text-center">
        <button type="submit" class="btn btn-primary rounded-pill btn-block shadow-sm">Search</button>
      </ul>

      <ul class="navbar-nav">

          <li class="nav-item">
              <a class="nav-link" style="display: flex;" href="/manage"> <i class="material-icons">
                  person
                  </i> {{ current_user.username }}</a>        
            </li>
          <li class="nav-item">
              <a class="nav-link" href="/listings/create">Create Listing</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" href="/manage">Manage Listings</a>              
            </li>
      </ul>
      {% else  %}
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" href="/register ">Register</a>
            </li>
      </ul>
  
{% endif %}
     
    </nav>
    {% block content %} {% endblock %}

    <footer class="page-footer font-small blue">
      <div
        class="bg-light text-center"
        style="width:100%;"
      >
        <div class="footer-copyright py-3">
          © 2019 Copyright:
          <a href="https://www.google.com.au/?gws_rd=ssl">
            Palm Tree Enterprises</a
          >
        </div>
        <!-- Copyright -->
      </nav>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
