{% extends 'base.html' %} {% import "bootstrap/wtf.html" as wtf %} {% block header %}

<head>
  <title>Palm Tree</title>
</head>

{% endblock %} {% block content %}

<body>

<div class="container">
    <!-- Button trigger modal -->
  <h2>Your Current Listings</h2>
  
    <hr style="border-width: 2px;;">

  <div class="row">
    <div class="col-sm-2">
      <img src="" alt="car image">
   </div>
    <div class="col-sm-2">
      <h4>Car Title</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h6></h6>
    </div>
    <div class="col-sm-2">
      <h6 class="text-success">Price can go here</h6>
    </div>
  </div>


  
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Edit Listing
  </button>

  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit Your Listing</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <h3 style="margin-top: 20px;">Vehicle Make and Model</h3>
                <h6>Describe the make and model of your vehicle.</h6>
                <form action="/action_page.php">
                          {{ wtf.form_field(form.carMake, class='form-control', placeholder='Ford Falcon 2011') }}
                  
                <h3 style="margin-top: 20px;">Image Upload</h3>
                <h6>Upload an image of your vehicle.</h6>
                <!-- <form>
                  <div class="custom-file" style="margin-top: 10px;">
                    <input type="file" class="custom-file-input" id="customFile" />
                    <label class="custom-file-label" for="customFile">Choose file</label>
                  </div>
                </form> -->
          
                <h3 style="margin-top: 20px;">Asking Price</h3>
                <h6>Provide the asking price for your vehicle.</h6>
          
                <div class="form-group">
                  {{ wtf.form_field(form.price, class='form-control', placeholder='$49,999') }}
          
                </div>
          
                <h3 style="margin-top: 20px;">Description</h3>
                <h6>Describe your vehicle in detail.</h6>
                <div class="form-group" style="margin-top: 10px;">
                      {{ wtf.form_field(form.description, class='form-control', cols="35", rows="10") }}
          
                </div>
          
                <h3 style="margin-top: 20px;">Key Features</h3>
                <h6>Provide a list of key features your vehicle has.</h6>
                <div>
                  
                </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</div>

    
</body>

{% endblock %}

